* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
} 

h1 {
    color: blue;
    font-size: 2rem;
    font-family: 'Rubik Burned', cursive;
}

p {
    text-align: center;
    color: rgb(201, 201, 201);
    font-size: 1.5em;
}

.lorem-ipsum {
    display: flex;
    justify-content: center;
}
.lorem-ipsum article {
    width: 85%;
    justify-content: center;

}

#text1 {
    color: green;
    font-size: 1.5em;
}

#text2 {
    color: orangered;
    font-size: 2em;
}

.table {
    background-color: rgba(0, 255, 255, 0.514);
    width: 100px;
    height: 100px;
    margin: 100px;
}


#table1:hover {
    background-color: rgba(255, 255, 0, 0.548);
    transition: 0.5s;   
}

#countries {
    font-family: 'Rubik Burned', cursive;
    font-size: 1.5rem;
}
#countries li:first-child {
    color: rgb(255, 0, 0);
}

#input1:focus {
    background-color: rgb(238, 238, 238);
}

#color {
    background-color: rgb(50, 80, 255, 0.5);
    padding: 30px;
    margin: 10px;
    display: block;
}

.Chinchilla {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: rgb(207, 207, 207);
    border: 2px solid black ;
    background-image: url("./chinchilla-cesta.jpg");
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-style: groove;
    border-radius: 7px;
}

.Chinchilla h3 {
    font-size: 3em;
}

.container {
    display: flex;
    justify-content:center ;
}

<<<<<<< HEAD
.cuadro{
    width: 100%;
    height: 800px;
    /* border: 1px solid red; */
    /* background-color: black; */
    background-image: radial-gradient(rgba(255, 0, 0, 0.486),rgba(255, 255, 0, 0.5)),url("./img.jpg");
    background-size: cover;
    background-position: center center;

}
.cuadro2{
    width: 100%;
    height: 1500px;
    background-image: linear-gradient(120deg, rgba(255, 0, 0, 0.486),rgba(255, 255, 0, 0.5), rgba(22, 175, 150, 0.432), rgba(255, 68, 0, 0.493)),url("./img.jpg");
    background-size: cover;
    background-position: center center;

}

.cuadro3{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    animation-name: mi_animacion; 
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes mi_animacion{
    0%{background-color: rgba(255, 0, 0, 0.5);}
    20%{background-color: rgba(0, 0, 255, 0.5);}
    50%{background-color:rgba(46, 139, 86, 0.514);
        transform: translate(1500px) rotate(1800deg) scale(2)}
    100%{transform: translate(-100px) rotate(-1800deg) }
}

.cuadroa{
    width: 500px;
    height: 500px;
    background-image: url("./giphy__8_.gif");
    animation-name: animacion;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacion{
    0%{transform: translate(500px) }
    20%{transform: translate(200px,-500px) }
    50%{transform: translate(-500px) }
    100%{transform: translate(0px,100px) scale(1.5) }
}

.cuadroi{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
=======
.gradientContainer {
    display: flex;
    justify-content: center;
}

.gradient {
    height: 800px;
    width: 100%;
    background-image:  linear-gradient(90deg, rgba(2,6,54,0.7483368347338936) 22%, rgba(17,55,166,0.7511379551820728) 46%, rgba(101,232,246,0.7511379551820728) 73%), url("./images/raimond-klavins-KvVCDvD1_t0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cuadrito {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    animation-name: my_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes my_animation {
    0% {
        background-color: rgb(0, 117, 78) ;
    }
    50% {
        background-color: blue ;
        transform: translate(200px, -600px) rotate(-180deg) scale(-2);
    }
    100% {
        background-color: rgb(63, 177, 63) ;
        transform: translate(200px) rotate(45deg) scale(0.5);
    }
}

.animation {
    display: flex;
    justify-content:center ;
}
.running_like_Naruto_Container {
        position: relative;
        width: 500px;
        height: 500px;
        background-color: rgb(104, 104, 104);
}

.running_like_Naruto {
    width: 150px;
    height: 150px;
    animation-name: my_animation_Naruto;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes my_animation_Naruto {
    0% {
        transform: translate(0) ;

    }
    25% {
        transform: translate(350px, 0) ;

    }
    50% {
        transform: translate(350px, 350px);

    }
    75% {
        transform: translate(0, 350px);

    }
}

.cuadro1 {
    margin: 10px 20px 30px 10px;
    padding: 10px 20px 30px 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(70, 146, 46);
>>>>>>> c432507441ef37a902d3764aae483f9bd5595dbf
    border: 2px solid black;
    box-sizing: border-box;
}

<<<<<<< HEAD
.cuadroii{
    width: 200px;
    height: 200px;
    background-color: coral;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
=======
.cuadro2 {
    margin: 10px 20px 30px 10px;
    padding: 10px 20px 30px 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(70, 146, 46);
>>>>>>> c432507441ef37a902d3764aae483f9bd5595dbf
    border: 2px solid black;
    box-sizing: content-box;
}

<<<<<<< HEAD
.circle{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: yellowgreen;
    border: 2px solid yellowgreen;
    position: fixed;
    bottom: 40px;
    right: 30px;
    box-shadow: 4px 3px 10px rgb(116, 107, 107);
}

.material-icons{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 22px;
    right: 11px;
    color: white;
=======
.circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgb(16, 139, 98);
    border: 2px solid black;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: 0px 5px 4px 2px black ;
}

.material-symbols-outlined {
    position: fixed;
    font-size: 50px;
    right: 52px;
    top: 52px;
>>>>>>> c432507441ef37a902d3764aae483f9bd5595dbf
    
}